*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
  }

  body{
    background-image: url(odr.jpg);
                        background-position: center;
                        background-size: cover;
                        font-family: sans-serif;
                        margin-top: 40px;
  }

  .wrapper{
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    display: flex;
  }

  .registration_form{
    border-radius: 10px;
    width: 400px;
    background: seagreen;
    padding: 25px;
  }

  .registration_form .title{
    width: 350px;
    background-color: rgb(0, 0, 0, 6);
    margin: auto;
    color:#FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
  }

  .form_wrap{
    margin-top: 35px;
  }

  .form_wrap .input_wrap{
    margin-bottom: 15px;


  }

  .form_wrap .input_wrap:last-child{
    margin-bottom: 0;
  }

  .form_wrap .input_wrap label{
    margin-bottom: 3px;
    color: #1a1a1f;
    display: block;
  }

  .form_wrap .input_grp{
    display: flex;
    justify-content: space-between;
  }

  .form_wrap .input_grp  input[type="text"]{
    width: 165px;
  }
.form_wrap  input[type="text"]{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    border: 1.3px solid #9597a6;
  }

  .form_wrap  input[type="text"]:focus{
    border-color: #063abd;
  }

  .form_wrap ul{
    padding: 8px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border:1px solid rgb(115, 185, 235);
    width:70%;
    background: rgb(206, 238, 242);
    margin-left: 15%;
  }

  .form_wrap ul li:first-child{
    margin-right: 15px;
  }

  .form_wrap ul .radio_wrap{
    position: relative;
    margin-bottom: 0;
  }
  .form_wrap ul .radio_wrap .input_radio{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }

  .form_wrap ul .radio_wrap span{
    display: inline-block;
    font-size: 17px;
    padding: 3px 15px;
    border-radius: 15px;
    color: #101749;
  }

  .form_wrap .input_radio:checked ~ span{
    background: #105ce2;
    color:white;
  }

  /* Submit Button */
  .form_wrap .submit_btn{
    font-size:17px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100%;
    background: #0d6ad7;
    padding: 10px;
    border: 0;
    color:white;

}
  /* Button Hover effect */
  .form_wrap .submit_btn:hover{
    background: #051c94;
  }

